/**
 * @author: wenhao.huang
 * @date:   2017/12/24
 * @module: style.css
 */
@import '~common/css/normalize';
@import '~common/css/mixin';
@import "~common/css/basic";
@import "~common/css/layout";
@import "~common/css/transition";
@import "~common/css/color";
@import "~common/css/text";
@import "~common/css/button";

.wrapper-flex {
  .wrapper-hd, .wrapper-ft, .wrapper-bd {
    width: 100%;
  }
  .wrapper-bd {
    flex: 1;
  }
}

#banner {
  width: 100%;
  height: 3.2rem;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .item {
    flex: 1;
    text-align: center;
    padding: 0.2rem 0;
  }
}
.section-chart{
  width:100%;
  overflow:hidden;
  .tabs {
    background-color: #f2f2f2;
    .item {
      position:relative;
      &.active {
        color: #FFF;
        background-color: #d5aa44;
        .menu-list {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
      .menu-list{
        position:absolute;
        z-index:5;
        left:0;top:0.8rem;
        width:100%;
        background-color: #f2f2f2;
        color:#555;
        transform: translateY(50px);
        transition: all 0.3s;
        opacity: 0;
        visibility: hidden;
        .item-menu{
          padding:0.1rem 0;
          &:hover {
            color: #FFF;
            background-color: #bd9129;
          }
        }
      }
    }
  }
}
.section-news {
  padding: 0.2rem;
  .tabs {
    background-color: #f2f2f2;
    .item {
      &.active {
        color: #FFF;
        background-color: #d5aa44;
      }
    }
  }
  .news-list{
    border:0.02rem solid #F2F2F2;
    display:none;
    .item-news{
      width:100%;
      display:flex;
      flex-direction:row;
      justify-content:flex-start;
      align-items: flex-start;
      padding:0.16rem 0.1rem 0.16rem 0.4rem;
      background:transparent url("~assets/img/icon-list.png") scroll 0.2rem 0.2rem no-repeat;
      background-size:0.23rem 0.24rem;
      .item-time{
        width:1.8rem;
        text-align:center;
        font-size:0.2rem;
      }
      .item-desc{
        flex:1;
        font-size:0.2rem;
        //height:0.68rem;
        overflow:hidden;
        text-overflow:ellipsis;
        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
      }
      & + .item-news{
        border-top:0.02rem solid #F2F2F2;
      }
    }
    &.active{
      display:block;
    }
  }
}
.advantage{
  margin:0 auto;
  width:100%;
  //height:6.5rem;
  background:transparent url("~assets/img/bg_01.png") scroll center 0 no-repeat;
  background-size:100% 100%;
  overflow:hidden;
  .box-title{
    text-align:center;
    font-size:0.4rem;
    line-height:1.5;
    padding:0.6rem 0;
  }
  .list-box{

  }
  .item-list{
    margin:0 auto 0.2rem;
    width:7rem;
    padding:0 0 0.3rem;
    background-color: #fff;
    .item-title{
      color:#ac7f1f;
      font-size:0.4rem;
      text-align:center;
      padding:0.1rem 0 0.1rem;
    }
    .item-desc{
      padding:0 0.2rem 0.3rem;
      text-align:justify;
      font-size:0.2rem;
    }
    .item-more {
      display: block;
      color: #888;
      border: 0.02rem solid #E0E0E0;
      font-size: 0.24rem;
      margin: 0 auto;
      text-align: center;
      width: 1.6rem;
      padding: 0.1rem 0;
    }
  }
}