@import "~assets/css/mixin";
.section-menu{
    margin-right:0.4rem;
    width:4.1rem;
    height:100%;
    @include flex($direction:column,$justify:start);
    .menu-list{
        width:100%;
        margin-bottom:0.16rem;
        .item_bd{
            height:0;
            overflow:hidden;
        }
        &.index{
            height:1.2rem;
        }
        &:last-child{
            margin-bottom:0;
        }
        &.active{
            //flex:1;
            background-color: #242337;
            .item_bd{
                height:100%;
            }
        }
    }
    .menu-index{
        position:relative;
        display:block;
        height:1.2rem;
        background:transparent url('~assets/img/icon-index.png') scroll center center no-repeat;
        background-size:100% 100%;
        span{
            position:absolute;
            left:0;right:0;top:0;bottom:0;
            background-color:rgba(0,0,0,0.6);
            color:#FFF;
            line-height:1.2rem;
            text-align:center;
            font-size:0.36rem;
        }
    }
    .item-menu{
        cursor:pointer;
        .item_hd{
            padding:0.1rem;
            text-align:center;
            color:#FFF;
            background-color:$default
        }
        .item{
            width:100%;
            text-align:center;
            display:block;
            color:$default;
            padding:0.2rem 0;
            transition:all 0.5s ease-in-out;
            &:hover,&.current{
                color:#FFF;
                background-color:rgba($default,0.3)
            }
        }
    }
}
